<header class="navbar">
  <div class="logo">
    <img src="assets/a.png" alt="logo" class="logo-icon" />
    <span style="cursor: default; text-decoration: none; color: inherit;">
      <span class="orange">TUN</span>PROJECT
    </span>
  </div>      
  <nav class="nav-links">
    <a href="#categories">FIND TALENT</a>
    <a href="#">FIND WORK</a>
    <a href="#why-us">WHY US</a>
  </nav>
  <div class="right-section">
    <div class="search-container">
      <input type="text" placeholder="Search..." />
      <span class="icon">🔍</span>
    </div>
    <span class="profile" (click)="goToAuth()">👤</span>
  </div>
</header>
